<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ProjectByMVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>com.eec.controller.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.eec.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepartmentListServlet</servlet-name>
    <servlet-class>com.eec.controller.DepartmentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentListServlet</servlet-name>
    <url-pattern>/departmentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddEmpServlet</servlet-name>
    <servlet-class>com.eec.controller.AddEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmpServlet</servlet-name>
    <url-pattern>/addEmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <servlet-class>com.eec.controller.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmpServlet</servlet-name>
    <url-pattern>/delemp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToUpdateServlet</servlet-name>
    <servlet-class>com.eec.controller.ToUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToUpdateServlet</servlet-name>
    <url-pattern>/to_update</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DoUpdateServlet</servlet-name>
  	<servlet-class>com.eec.controller.DoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DoUpdateServlet</servlet-name>
  	<url-pattern>/do_update</url-pattern>
  </servlet-mapping>
  
</web-app>